{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <h1 class="pt-5">Clients...</h1>
        <table class="table table-light table-hover table-bordered border-primary">
            <thead class="table-dark text-center">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">State</th>
                    <th scope="col">Zipcode</th>
                    <th scope="col">Created At</th>
                    <th scope="col">ID</th>
                </tr>
            </thead>
            <tbody class="text-center">
                {% if clients %}
                    {% for client in clients %}
                        <tr>
                            <td>
                                <a href="{% url 'client' client.id %}">
                                    {{ client.first_name }}
                                    {{ client.last_name }}
                                </a>
                            </td>
                            <td>{{ client.email }}</td>
                            <td>{{ client.phone }}</td>
                            <td>{{ client.address }}</td>
                            <td>{{ client.city }}</td>
                            <td>{{ client.state }}</td>
                            <td>{{ client.zipcode }}</td>
                            <td>{{ client.created_at }}</td>
                            <td>
                                <a href="{% url 'client' client.id %}">{{ client.id }}</a>
                            </td>
                        {% endfor %}
                    {% endif %}
                </tr>
            </tbody>
        </table>
    {% else %}
        <div class="col-md-6 offset-md-3">
            <h1 class="pt-5">Login</h1>
            <form action="{% url 'home' %}" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text"
                           class="form-control"
                           name="username"
                           placeholder="Username"
                           required>
                </div>
                <div class="mb-3">
                    <input type="password"
                           class="form-control"
                           name="password"
                           placeholder="Password"
                           required>
                </div>
                <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}
